html {
   scroll-behavior: smooth;
   scroll-padding-top: 160px;
}

body {
   position: relative;
   display: flex;
   flex-direction: column;
   line-height: 1.3;
   background-color: #F9FAFF;
   font-size: 20px;
   color: $fontColor;
   @extend %rubik-400;
}

.main {
   flex: 1 0 auto;
}

.container {
   max-width: 1200px;
   padding: 0 15px;
   margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
   color: #ffffff;
   background-color: $accent;
   padding: 12px 32px;
   font-size: 18px;
   letter-spacing: 0.54px;
   border-radius: 6px;
   outline: transparent;
   border: 0 solid transparent;  
   border-radius: 5px;
   cursor: pointer;
   transition: all 0.1s ease-in-out;

   &:focus{
      background-color: rgba(255, 122, 80, 0.10);
      box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.70);
      color: $accent;
   }
   &:hover{
      background-color: rgba(255, 255, 255, 0.10);
      box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.70), 0px 5px 12px 0px rgba(255, 104, 56, 0.20);
      color: $accent;
   }
   &:active{
      background: rgba(255, 122, 80, 0.10);
      color: $accent;
      box-shadow: 0px 0px 0px 0px transparent;
   }
}

.link {
   transition: all 0.3s ease-in-out;
   
   &:focus {
      border-radius: 5px;
      background: rgba(255, 255, 255, 0.01);
      box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.70);
   }
   &:hover {
      color: $accent;
   }
   &:active {
      text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.50);
   }
}

.section {
   margin-bottom: 120px;

   @media (max-width: 576px) {  
      margin-bottom: 40px;
   }
}

.title {
   color: $titleColor;
   font-size: 36px;
   @extend %rubik-500;
   text-align: center;

   @media (max-width: 576px) {  
      font-size: 24px;
      margin-bottom: 30px;
   }
}

.hidden {
   width: 0;
   height: 0;
   background-color: transparent;
   overflow: hidden;
   opacity: 0;
   transition: all 0.3s ease-in-out;
}

.lock { 
   overflow: hidden 
}

.swiper-dot {
   display: inline-block;
      width: 15px;
      height: 15px;
      opacity: 1;
      background-color: $silver100;
      transition: all 0.2s ease-in-out;
      outline: 0 solid transparent;
      border-radius: 50%;
      
      &:focus {
         outline: 2px solid $accent;
      }

      &:hover {
         outline: 2px solid $accent;
         background-color: #FFF2ED;
      }

      &:active {
         background-color: #FFAE94;
         outline: 0 solid transparent;
      }

      &:not(:last-child) {
         margin-right: 15px;
      }
   }

   .swiper-dot--active {
      background-color: $accent;
   }