.bread-crumbs {
   background-color: rgba(255, 122, 80, 0.10);
   padding: 24px 0;
   margin-bottom: 60px;

      &__item {
         font-size: 14px;
         line-height: 1.2;
         letter-spacing: 0.42px;
         color: #505050;
         position: relative;
         padding-right: 17px;

         &:hover:not(:last-child) {
            color: $accent;
         }

         &:not(:last-child)::after {
            content: '';
            position: absolute;
            top: 5px;
            right: 5px;
            width: 8px;
            height: 100%;
            background-image: url('../images/sprite.svg#icon-right');
            background-repeat: no-repeat;
            filter: invert(93%) sepia(34%) saturate(0%) hue-rotate(186deg) brightness(91%) contrast(66%);
         }
      }
}