.description-tab {

		&__text {
         line-height: 1.5;

         @include r(576) { 
            font-size: 16px;
         }
		}

      &__text:not(:last-child){
         margin-bottom: 30px;
      }
}
