<div class="tab description-tab" name="tab[1]">
   <p class="description-tab__text">
      Рубленый бифштекс из натуральной говядины на карамелизованной булочке, с ломтиком сыра «Чеддер», кетчупом, горчицей, луком и маринованными огурчиками. 
   </p>
   <p class="description-tab__text">
      Аллергены: Глютен, Молоко, Горчица, Может содержать сою, яйцо, следы кунжута 
   </p>
   <p class="description-tab__text">
      Внешний вид товара может отличаться от изображений, представленных на сайте.
   </p>
</div>