<div class="tab characteristics hidden" name="tab[2]">
   <span class="characteristics__parameter"><span class="characteristics__category">Диаметр</span>: 20 см</span>
   <span class="characteristics__parameter"><span class="characteristics__category">Вес</span>: 300 гр</span>
   <span class="characteristics__parameter"><span class="characteristics__category">Калорийность (на 100г)</span>: 295 ккал</span>
   <span class="characteristics__parameter"><span class="characteristics__category">Срок хранения</span>: до 3 дней</span>
</div>