<div class="container">
   <section class="section about">
      <div class="about__content">
         <h2 class="title about__title">Оставайтесь дома, <span class="about__title-clice">а мы позаботимся о еде</span></h2>
         <div class="about__giper-text">
            <p>
               У нас есть вкусная еда и мы готовы доставить её к вам домой! Воспользуйтесь нашей доставкой прямо сейчас и получите скиидку!
            </p>
         </div>
         <ul class="advantages about__advantages">
            <li class="advantages__advantag">
               <span class="advantag__icon advantag__icon--timer"></span>
               Быстрая доставка за 15 минут
            </li>
            <li class="advantages__advantag">
               <span class="advantag__icon advantag__icon--delivery"></span>
               Вежливые курьеры
            </li>
            <li class="advantages__advantag">
               <span class="advantag__icon advantag__icon--restorants"></span>
               Более 500 заведений
            </li>
         </ul>
         <button class="btn advantages__btn" type="button ">Подробнее</button>
      </div>
   </section>
</div>