<div class="container">
   <section class="section comments">
      <h2 class="title comments__title">Отзывы клиентов</h2>

      <div class="swiper swiper-comments">
         <div class="swiper-wrapper">
            <div class="slid swiper-slide">
               <div class="slid__photo">
                  <img class="slid__img" src="./images/Rectangle.webp"  alt="фото коментатора">
               </div>
               <div class="slid__comment">
                  <blockquote class="slid__text">
                     SimpleFood - одна из лучших служб доставки продуктов из
                     ресторанов в городе. Очень удобный сайт и приложение. Их
                     доставщики очень вежливы и пунктуальны. Компания часто
                     проводит акции и дарит скидки на доставку - однозначно
                     рекомендую!
                  </blockquote>
                  <figcaption class="slid__autor">Дарья</figcaption>
                  <span class="slid__subtitle">Ценитель вкусной еды</span>
               </div>
            </div>
            <div class="slid swiper-slide">
               <div class="slid__photo">
                  <img class="slid__img" src="./images/Rectangle.webp"  alt="фото коментатора">
               </div>
               <div class="slid__comment">
                  <blockquote class="slid__text">
                     SimpleFood - одна из лучших служб доставки продуктов из
                     ресторанов в городе. Очень удобный сайт и приложение. Их
                     доставщики очень вежливы и пунктуальны. Компания часто
                     проводит акции и дарит скидки на доставку - однозначно
                     рекомендую!
                  </blockquote>
                  <figcaption class="slid__autor">Дарья</figcaption>
                  <span class="slid__subtitle">Ценитель вкусной еды</span>
               </div>
            </div>
            <div class="slid swiper-slide">
               <div class="slid__photo">
                  <img class="slid__img" src="./images/Rectangle.webp"  alt="фото коментатора">
               </div>
               <div class="slid__comment">
                  <blockquote class="slid__text">
                     SimpleFood - одна из лучших служб доставки продуктов из
                     ресторанов в городе. Очень удобный сайт и приложение. Их
                     доставщики очень вежливы и пунктуальны. Компания часто
                     проводит акции и дарит скидки на доставку - однозначно
                     рекомендую!
                  </blockquote>
                  <figcaption class="slid__autor">Дарья</figcaption>
                  <span class="slid__subtitle">Ценитель вкусной еды</span>
               </div>
            </div>
            <div class="slid swiper-slide">
               <div class="slid__photo">
                  <img class="slid__img" src="./images/Rectangle.webp"  alt="фото коментатора">
               </div>
               <div class="slid__comment">
                  <blockquote class="slid__text">
                     SimpleFood - одна из лучших служб доставки продуктов из
                     ресторанов в городе. Очень удобный сайт и приложение. Их
                     доставщики очень вежливы и пунктуальны. Компания часто
                     проводит акции и дарит скидки на доставку - однозначно
                     рекомендую!
                  </blockquote>
                  <figcaption class="slid__autor">Дарья</figcaption>
                  <span class="slid__subtitle">Ценитель вкусной еды</span>
               </div>
            </div>
         </div>
      </div>
      <div class="comments__arrows">
         <div class="comments__arrow comments__arrow--prev"></div>
         <div class="comments__dots"></div>
         <div class="comments__arrow comments__arrow--next"></div>
      </div>




   </section>
</div>


