<section class="discount">
      <div class="container">
         <h2 class="discount__title title">Акции и скидки</h2>
         <div class="discount__slider swiper">
            <ul class="discount__list swiper-wrapper">
               <li class="discount__item swiper-slider">
                  <article class="restorant-card">
                  <a href="#" class="restorant-card__link">
                     <img class="restorant-card__img" src="./images/restorants/blaze-pizza.jpg" alt="">
                     <h3 class="restorant-card__title">Скидка 50% на вторую пиццу</h3>
                  </a>
               </article>
               </li>
               <li class="discount__item swiper-slider">
                  <article class="restorant-card">
                  <a href="#" class="restorant-card__link">
                     <img class="restorant-card__img" src="./images/restorants/kfc.jpg" alt="">
                     <h3 class="restorant-card__title">Картошечка из KFC даром при заказе бургера</h3>
                  </a>
               </article>
               </li>
               <li class="discount__item swiper-slider">
                  <article class="restorant-card">
                  <a href="#" class="restorant-card__link">
                     <img class="restorant-card__img" src="./images/restorants/star-burgers.jpg" alt="">
                     <h3 class="restorant-card__title">Чёрные бургеры на чёрный день </h3>
                  </a>
               </article>
               </li>
            </ul>
            <div class="discount__dots"></div>
         </div>
      </div>   
</section>