<section class="discount">
      <div class="container">
         <h2 class="discount__title title">Акции и скидки</h2>
         
         <div class="discount__slider swiper">
            <ul class="discount__list swiper-wrapper">

               <li class="discount__item swiper-slide">
                  <article class="restorant-card">
                     <a href="#" class="restorant-card__link">
                        <div class="restorant-card__img"><img class="restorant-card__photo" src="./images/restorants/mc-donalds.jpg" alt="McDonald`s"></div>
                        <h3 class="restorant-card__title discount__card-title">Скидка 50% на вторую пиццу</h3>
                     </a>
                  </article>
               </li>

               <li class="discount__item swiper-slide">
                  <article class="restorant-card">
                     <a href="#" class="restorant-card__link">
                        <div class="restorant-card__img"><img class="restorant-card__photo" src="./images/restorants/kfc.jpg" alt="KFC"></div>
                        <h3 class="restorant-card__title discount__card-title">Картошечка из KFC даром при заказе бургера</h3>
                     </a>
                  </article>
               </li>

               <li class="discount__item swiper-slide">
                  <article class="restorant-card">
                     <a href="#" class="restorant-card__link">
                        <div class="restorant-card__img"><img class="restorant-card__photo" src="./images/restorants/star-burgers.jpg" alt="Star Burgers"></div>
                        <h3 class="restorant-card__title discount__card-title">Чёрные бургеры на чёрный день </h3>
                     </a>
                  </article>
               </li>
            </ul>
         </div>
         <div class="discount__dots"></div>
      </div>   
</section>