<div class="container">
   <section class="section gallery" id="dish">

      <h2 class="title gallery__title">Популярные категории</h2>

      <ul class="gallery__nav">
         <li class="gallery__category">
            <button class="gallery__btn gallery__btn--burger active" type="button" data-filter=".category-all">Бургеры</button>
         </li>
         <li class="gallery__category">
            <button class="gallery__btn gallery__btn--pizza" type="button" data-filter=".category-pizza">Пицца</button>
         </li>
         <li class="gallery__category">
            <button class="gallery__btn gallery__btn--sandvich" type="button" data-filter=".category-sandvich">Сендвичи</button>
         </li>
         <li class="gallery__category">
            <button class="gallery__btn gallery__btn--asia" type="button" data-filter=".category-asia">Азиатская кухня</button>
         </li>
         <li class="gallery__category">
            <button class="gallery__btn gallery__btn--set" type="button" data-filter=".category-dish ">Cеты</button>
         </li>
      </ul>

      <ul class="gallery__items">
         <li class="gallery__item mix category-pizza category-burger category-all">
            <article class="card">
               <a href="./desсription.html" class="card__wrapper">
                  <div class="card__img">
                     <img class="card__pictur" src="./images/gallery/burger.jpg" width="140" height="140" alt="бургер з листям салату">
                  </div>
                  <h3 class="card__title">Чизбургер с листьями салата</h3>
                  <span class="card__pric">160 <span>грн.</span></span>
                  <button class="btn card__btn" type="button">В корзину</button>
               </a>
            </article>
         </li>

         <li class="gallery__item mix category-pizza category-all">
            <article class="card">
               <a href="./desсription.html" class="card__wrapper">
                  <div class="card__img">
                     <img class="card__pictur" src="./images/gallery/beef-burger.jpg" width="140" height="140" alt="бургер з телятиною">
                  </div>
                  <h3 class="card__title">Бифбургер</h3>
                  <span class="card__pric">190 <span>грн.</span></span>
                  <button class="btn card__btn" type="button">В корзину</button>
               </a>
            </article>
         </li>

         <li class="gallery__item mix category-burger category-all">
            <article class="card">
               <a href="./desсription.html" class="card__wrapper">
                  <div class="card__img">
                     <img class="card__pictur" src="./images/gallery/burger-king.jpg" width="140" height="140" alt="королівський чизбургер">
                  </div>
                  <h3 class="card__title">Королевский чизбургер</h3>
                  <span class="card__pric">260 <span>грн.</span></span>
                  <button class="btn card__btn" type="button">В корзину</button>
               </a>
            </article>
         </li>

         <li class="gallery__item mix category-asia category-pizza category-all">
            <article class="card">
               <a href="./desсription.html" class="card__wrapper">
                  <div class="card__img">
                     <img class="card__pictur" src="./images/gallery/black-burger.jpg" width="140" height="140" alt="чорний гамбургер">
                  </div>
                  <h3 class="card__title">Черный гамбургер</h3>
                  <span class="card__pric">199 <span>грн.</span></span>
                  <button class="btn card__btn" type="button">В корзину</button>
               </a>
            </article>
         </li>

         <li class="gallery__item mix category-asia category-all">
            <article class="card">
               <a href="./desсription.html" class="card__wrapper">
                  <div class="card__img">
                     <img class="card__pictur" src="./images/gallery/chicken-burger.jpg" width="140" height="140" alt="бургер з куркою">
                  </div>
                  <h3 class="card__title">Чикен бургер</h3>
                  <span class="card__pric">180 <span>грн.</span></span>
                  <button class="btn card__btn" type="button">В корзину</button>
               </a>
            </article>
         </li>

         <li class="gallery__item mix category-asia category-sandvich category-all">
            <article class="card">
               <a href="./desсription.html" class="card__wrapper">
                  <div class="card__img">
                     <img class="card__pictur" src="./images/gallery/burger.jpg" width="140" height="140" alt="бургер з листям салату">
                  </div>
                  <h3 class="card__title">Чизбургер с листьями салата</h3>
                  <span class="card__pric">160 <span>грн.</span></span>
                  <button class="btn card__btn" type="button">В корзину</button>
               </a>
            </article>
         </li>

         <li class="gallery__item mix category-sandvich category-all">
            <article class="card">
               <a href="./desсription.html" class="card__wrapper">
                  <div class="card__img">
                     <img class="card__pictur" src="./images/gallery/beef-burger.jpg" width="140" height="140" alt="бургер з телятиною">
                  </div>
                  <h3 class="card__title">Бифбургер</h3>
                  <span class="card__pric">190 <span>грн.</span></span>
                  <button class="btn card__btn" type="button">В корзину</button>
               </a>
            </article>
         </li>

         <li class="gallery__item mix category-sandvich category-dish category-all">
            <article class="card">
               <a href="./desсription.html" class="card__wrapper">
                  <div class="card__img">
                     <img class="card__pictur" src="./images/gallery/burger-king.jpg" width="140" height="140" alt="королівський чизбургер">
                  </div>
                  <h3 class="card__title">Королевский чизбургер</h3>
                  <span class="card__pric">260 <span>грн.</span></span>
                  <button class="btn card__btn" type="button">В корзину</button>
               </a>
            </article>
         </li>

         <li class="gallery__item mix category-sandvich category-dish category-all">
            <article class="card">
               <a href="./desсription.html" class="card__wrapper">
                  <div class="card__img">
                     <img class="card__pictur" src="./images/gallery/black-burger.jpg" width="140" height="140" alt="чорний гамбургер">
                  </div>
                  <h3 class="card__title">Черный гамбургер</h3>
                  <span class="card__pric">199 <span>грн.</span></span>
                  <button class="btn card__btn" type="button">В корзину</button>
               </a>
            </article>
         </li>

         <li class="gallery__item mix category-dish category-all">
            <article class="card">
               <a href="./desсription.html" class="card__wrapper">
                  <div class="card__img">
                     <img class="card__pictur" src="./images/gallery/chicken-burger.jpg" width="140" height="140" width="140" height="140" alt="бургер з куркою">
                  </div>
                  <h3 class="card__title">Чикен бургер</h3>
                  <span class="card__pric">180 <span>грн.</span></span>
                  <button class="btn card__btn" type="button">В корзину</button>
               </a>
            </article>
         </li>
      </ul>
      <a class="link gallery__show-more" href="./page.html">Показать еще</a>
   </section>
</div>