<section class="liked">
   <div class="liked__head">
      <h2 class="liked__title">Вас может заинтересовать</h2>
      <div class="liked__arrows">
         <button class="comments__button-prev liked__prev" type="button"></button>
         <button class="comments__button-next liked__next" type="button"></button>
      </div>
   </div>
   <div class="swiper liked__slider">
      <div class="swiper-wrapper liked__slider-wrapper">
         <div class="swiper-slide">
            <article class="card">
               <a href="#" class="card__wrapper">
                  <img class="card__img" src="./images/gallery/beef-burger.jpg" alt="бургер з телятиною">
                  <p class="card__title">Бифбургер</p>
                  <span class="card__pric">190 грн.</span>
                  <button class="btn card__btn" type="button">В корзину</button>
               </a>
            </article>
         </div>
         <div class="swiper-slide">
            <article class="card">
               <a href="#" class="card__wrapper">
                  <img class="card__img" src="./images/gallery/beef-burger.jpg" alt="бургер з телятиною">
                  <p class="card__title">Бифбургер</p>
                  <span class="card__pric">190 грн.</span>
                  <button class="btn card__btn" type="button">В корзину</button>
               </a>
            </article>
         </div>
         <div class="swiper-slide">
            <article class="card">
               <a href="#" class="card__wrapper">
                  <img class="card__img" src="./images/gallery/beef-burger.jpg" alt="бургер з телятиною">
                  <p class="card__title">Бифбургер</p>
                  <span class="card__pric">190 грн.</span>
                  <button class="btn card__btn" type="button">В корзину</button>
               </a>
            </article>
         </div>
         <div class="swiper-slide">
            <article class="card">
               <a href="#" class="card__wrapper">
                  <img class="card__img" src="./images/gallery/beef-burger.jpg" alt="бургер з телятиною">
                  <p class="card__title">Бифбургер</p>
                  <span class="card__pric">190 грн.</span>
                  <button class="btn card__btn" type="button">В корзину</button>
               </a>
            </article>
         </div>
         <div class="swiper-slide">
            <article class="card">
               <a href="#" class="card__wrapper">
                  <img class="card__img" src="./images/gallery/beef-burger.jpg" alt="бургер з телятиною">
                  <p class="card__title">Бифбургер</p>
                  <span class="card__pric">190 грн.</span>
                  <button class="btn card__btn" type="button">В корзину</button>
               </a>
            </article>
         </div>
         <div class="swiper-slide">
            <article class="card">
               <a href="#" class="card__wrapper">
                  <img class="card__img" src="./images/gallery/beef-burger.jpg" alt="бургер з телятиною">
                  <p class="card__title">Бифбургер</p>
                  <span class="card__pric">190 грн.</span>
                  <button class="btn card__btn" type="button">В корзину</button>
               </a>
            </article>
         </div>
         <div class="swiper-slide">
            <article class="card">
               <a href="#" class="card__wrapper">
                  <img class="card__img" src="./images/gallery/beef-burger.jpg" alt="бургер з телятиною">
                  <p class="card__title">Бифбургер</p>
                  <span class="card__pric">190 грн.</span>
                  <button class="btn card__btn" type="button">В корзину</button>
               </a>
            </article>
         </div>
      </div>
   </div>
</section>