<section class="liked">
   <div class="liked__head">
      <h2 class="liked__title">Вас может заинтересовать</h2>
      
      <div class="liked__arrows">
         <button class="liked__button liked__btn--prev" type="button"></button>
         <button class="liked__button liked__btn--next" type="button"></button>
      </div>
   </div>

   <div class="liked__slider swiper">
      <ul class="liked__slider-wrapper swiper-wrapper">

         <li class="swiper-slide">
            <article class="card">
               <a href="#" class="card__wrapper">
                  <div class="card__img">
                     <img class="card__pictur" src="./images/gallery/burger.jpg" width="140" height="140" alt="бургер з листям салату">
                  </div>
                  <h3 class="card__title">Чизбургер с листьями салата</h3>
                  <span class="card__pric">160 <span>грн.</span></span>
                  <button class="btn card__btn" type="button">В корзину</button>
               </a>
            </article>
         </li>
         <li class="swiper-slide">
            <article class="card">
               <a href="#" class="card__wrapper">
                  <div class="card__img">
                     <img class="card__pictur" src="./images/gallery/beef-burger.jpg" width="140" height="140" alt="бургер з телятиною">
                  </div>
                  <h3 class="card__title">Бифбургер</h3>
                  <span class="card__pric">190 <span>грн.</span></span>
                  <button class="btn card__btn" type="button">В корзину</button>
               </a>
            </article>
         </li>
         <li class="swiper-slide">
            <article class="card">
               <a href="#" class="card__wrapper">
                  <div class="card__img">
                     <img class="card__pictur" src="./images/gallery/burger-king.jpg" width="140" height="140" alt="королівський чизбургер">
                  </div>
                  <h3 class="card__title">Королевский чизбургер</h3>
                  <span class="card__pric">260 <span>грн.</span></span>
                  <button class="btn card__btn" type="button">В корзину</button>
               </a>
            </article>
         </li>
         <li class="swiper-slide">
            <article class="card">
               <a href="#" class="card__wrapper">
                  <div class="card__img">
                     <img class="card__pictur" src="./images/gallery/black-burger.jpg" width="140" height="140" alt="чорний гамбургер">
                  </div>
                  <h3 class="card__title">Черный гамбургер</h3>
                  <span class="card__pric">199 <span>грн.</span></span>
                  <button class="btn card__btn" type="button">В корзину</button>
               </a>
            </article>
         </li>
         <li class="swiper-slide">
            <article class="card">
               <a href="#" class="card__wrapper">
                  <div class="card__img">
                     <img class="card__pictur" src="./images/gallery/chicken-burger.jpg" width="140" height="140" alt="бургер з куркою">
                  </div>
                  <h3 class="card__title">Чикен бургер</h3>
                  <span class="card__pric">180 <span>грн.</span></span>
                  <button class="btn card__btn" type="button">В корзину</button>
               </a>
            </article>
         </li>
         <li class="swiper-slide">
            <article class="card">
               <a href="#" class="card__wrapper">
                  <div class="card__img">
                     <img class="card__pictur" src="./images/gallery/burger-king.jpg" width="140" height="140" alt="королівський чизбургер">
                  </div>
                  <h3 class="card__title">Королевский чизбургер</h3>
                  <span class="card__pric">260 <span>грн.</span></span>
                  <button class="btn card__btn" type="button">В корзину</button>
               </a>
            </article>
         </li>
         <li class="swiper-slide">
            <article class="card">
               <a href="#" class="card__wrapper">
                  <div class="card__img">
                     <img class="card__pictur" src="./images/gallery/black-burger.jpg" width="140" height="140" alt="чорний гамбургер">
                  </div>
                  <h3 class="card__title">Черный гамбургер</h3>
                  <span class="card__pric">199 <span>грн.</span></span>
                  <button class="btn card__btn" type="button">В корзину</button>
               </a>
            </article>
         </li>
         <li class="swiper-slide">
            <article class="card">
               <a href="#" class="card__wrapper">
                  <div class="card__img">
                     <img class="card__pictur" src="./images/gallery/chicken-burger.jpg" width="140" height="140" alt="бургер з куркою">
                  </div>
                  <h3 class="card__title">Чикен бургер</h3>
                  <span class="card__pric">180 <span>грн.</span></span>
                  <button class="btn card__btn" type="button">В корзину</button>
               </a>
            </article>
         </li>
      </ul>
   </div>
   <div class="liked__dots"></div>
</section>