<section class="mobile-menu-index menu-hidden">
      <div class="mobile-menu-index__wrapper">
         <div class="mobile-menu-index__head">
            <a class="logo" href="#">
               <img class="logo__icon" src="./images/SimpleFood.svg" alt="logo">
            </a>
            <button class="burger burger--active burger-index--close" type="button"> 
               <span class="burger__line"></span>
               <span class="sr-only">Открыть меню</span>
            </button>
         </div>
         <nav class="mobile-menu-index__nav">
            <ul class="mobile-menu-index__list">
               <li class="mobile-menu-index__item">
                  <a class="link menu__item active" href="#">Главная</a>
               </li>
               <li class="mobile-menu-index__item">
                  <a class="link menu__item" href="#dish">Блюда</a>
               </li>
               <li class="mobile-menu-index__item">
                  <a class="link menu__item" href="#contacts">Контакты</a>
               </li>
            </ul>
         </nav>

         <ul class="contacts mobile-menu-index__contacts">
            <li class="contacts__item mobile-menu-index__contact">
               <a class="link contacts__link contacts__link--address" href="#" target="_blank">
               <span class="sr-only">наш адрес</span> ул. Т.Г.Шевченко, 1</a>
            </li>

            <li class="contacts__item mobile-menu-index__contact">
               <a class="link contacts__link contacts__link--tell" href="tel:+380501112233">
               <span class="sr-only">наш номер телефона</span>380501112233</a>
            </li>

            <li class="contacts__item mobile-menu-index__contact">
               <a class="link contacts__link contacts__link--mail" href="mailto:support@sfood.com">
               <span class="sr-only">наш электронный адрес</span>support@sfood.com</a>
            </li>
         </ul>

         <ul class="networks">
            <li class="networks__network">
               <a href="#" class="networks__link networks__link--facebook">
                  <span class="sr-only">Перейти по ссылке в фейсбук</span>
               </a>
            </li>
            <li class="networks__network">
               <a href="#" class="networks__link networks__link--twitter">
                  <span class="sr-only">Перейти по ссылке в твиттер</span>
               </a>
            </li>
            <li class="networks__network">
               <a href="#" class="networks__link networks__link--instagram">
                  <span class="sr-only">Перейти по ссылке в телеграм-канал</span>
               </a>
            </li>
         </ul>
      </div>
   </section>