<div class="pagination">
   <ul class="pagination__list">
      <li class="pagination__item">
         <a class="pagination__link pagination__link--prev pagination__link--dasabled">
            <span class="sr-only">Вернутся на предидущую страницу</span>
         </a>
      </li>
      <li class="pagination__item">
         <a href="#" class="pagination__link pagination__link--current">1</a>
      </li>
      <li class="pagination__item">
         <a href="#" class="pagination__link">2</a>
      </li>
      <li class="pagination__item">
         <a class="pagination__link pagination__dots">...</a>
      </li>
      <li class="pagination__item">
         <a href="#" class="pagination__link">9</a>
      </li>
      <li class="pagination__item">
         <a href="#" class="pagination__link">10</a>
      </li>
      <li class="pagination__item">
         <a class="pagination__link pagination__link--next">
            <span class="sr-only">Перейти на наступну страницу</span>
         </a>
      </li>
   </ul>
</div>