<section class="product">
         <h1 class="sr-only">Описание продукта</h1>

         <div class="swiper-product swiper">
            <div class="product__arrows">
               <button class="product--prev product__btn-slider"></button>
               <button class="product--next product__btn-slider"></button>
            </div>
            <div class="product-slider__items swiper-wrapper">

               <a class="product__img swiper-slide" href="./images/gallery/burger_big-photo.jpg" data-lg-size="750-750">
                  <img class="product__photo" src="./images/gallery/burger.jpg" alt="фото продукта" class="product__photo" width="400" height="400">
               </a>
               <a class="product__img swiper-slide" href="./images/gallery/burger_big-photo.jpg" data-lg-size="750-750">
                  <img class="product__photo" src="./images/gallery/burger.jpg" alt="фото продукта" class="product__photo" width="400" height="400">
               </a>
               <a class="product__img swiper-slide" href="./images/gallery/burger_big-photo.jpg" data-lg-size="750-750">
                  <img class="product__photo" src="./images/gallery/burger.jpg" alt="фото продукта" class="product__photo" width="400" height="400">
               </a>
               <a class="product__img swiper-slide" href="./images/gallery/burger_big-photo.jpg" data-lg-size="750-750">
                  <img class="product__photo" src="./images/gallery/burger.jpg" alt="фото продукта" class="product__photo" width="400" height="400">
               </a>
               <a class="product__img swiper-slide" href="./images/gallery/burger_big-photo.jpg" data-lg-size="750-750">
                  <img class="product__photo" src="./images/gallery/burger.jpg" alt="фото продукта" class="product__photo" width="400" height="400">
               </a>
            </div>
            
         </div>

         <div class="product__description">
            <h2 class="product__title title">Чизбургер с листьями салата</h2>

            <div class="stars static-stars product__stars" data-stars="4"></div>

            <span class="product__pric">160 грн.</span>

            <div class="product__order-wrapper order">
               <div class="order__inner">
                  <button class="order__btn btn order__btn--lass" type="button" id="btn-less">-</button>
                  <input class="order__input" type="text" id="quantity" value="1">
                  <label class="sr-only" for="quantity"></label>
                  <button class="order__btn btn order__btn--more" type="button" id="btn-more">+</button>
               </div>
               <button class="order__btn-cart btn">Добавить в корзину</button>
            </div>

            <div class="product__about">
               <h3 class="product__subtitle">Доставка и оплата</h3>
               <ul class="product__text">
                  <li class="product__text-item">Минимальная сумма заказа — 160 грн.</li>
                  <l1 class="product__text-item">Время доставки заказа — 80-140 мин.</l1>
                  <li class="product__text-item">Оплата осуществляется только банковской картой.</li>
                  <li class="product__text-item">Окончательная сумма заказа формируется после сбора товаров.</li>
               </ul>
               <a class="product__link link" href="#">Подробнее</a>
            </div>
         </div>
      </section>