<div class="container">
   <section class="section restorants">
      <h2 class="title restorants__title">Лучшие рестораны</h2>

      <div class="restorants-swiper swiper">
         <ul class="restorants__list swiper-wrapper">

            <li class="restorants__wrapper swiper-slide">
               <article class="restorant-card">
                  <a href="#" class="restorant-card__link">
                     <img class="restorant-card__img" src="./images/restorants/blaze-pizza.jpg" alt="">
                     <h3 class="restorant-card__title">Blaze Pizza</h3>
                     <div class="restorant-card__footer">
                        <time class="restorant-card__time">
                           <span>11:00</span> - <span>22:00</span>
                        </time>
                        <button class="btn restorant-card__btn" type="button"></button>
                     </div>
                  </a>
               </article>
            </li>

            <li class="restorants__wrapper swiper-slide">
               <article class="restorant-card">
                  <a href="#" class="restorant-card__link">
                     <img class="restorant-card__img" src="./images/restorants/pizza-runcho.jpg" alt="">
                     <h3 class="restorant-card__title">Pizza Runcho</h3>
                     <div class="restorant-card__footer">
                        <time class="restorant-card__time">
                           <span>12:00</span> - <span>21:00</span>
                        </time>
                        <button class="btn restorant-card__btn" type="button"></button>
                     </div>
                  </a>
               </article>
            </li>

            <li class="restorants__wrapper swiper-slide">
               <article class="restorant-card">
                  <a href="#" class="restorant-card__link">
                     <img class="restorant-card__img" src="./images/restorants/pizza-hut.jpg" alt="">
                     <h3 class="restorant-card__title">Pizza Hut</h3>
                     <div class="restorant-card__footer">
                        <time class="restorant-card__time">
                           <span>11:00</span> - <span>22:00</span>
                        </time>
                        <button class="btn restorant-card__btn" type="button"></button>
                     </div>
                  </a>
               </article>
            </li>

            <li class="restorants__wrapper swiper-slide">
               <article class="restorant-card">
                  <a href="#" class="restorant-card__link">
                     <img class="restorant-card__img" src="./images/restorants/mc-donalds.jpg" alt="">
                     <h3 class="restorant-card__title">McDonald`s</h3>
                     <div class="restorant-card__footer">
                        <time class="restorant-card__time">
                           <span>06:00</span> - <span>23:00</span>
                        </time>
                        <button class="btn restorant-card__btn" type="button"></button>
                     </div>
                  </a>
               </article>
            </li>

            <li class="restorants__wrapper swiper-slide">
               <article class="restorant-card">
                  <a href="#" class="restorant-card__link">
                     <img class="restorant-card__img" src="./images/restorants/kfc.jpg" alt="">
                     <h3 class="restorant-card__title">KFC</h3>
                     <div class="restorant-card__footer">
                        <time class="restorant-card__time">
                           <span>06:00</span> - <span>23:30</span>
                        </time>
                        <button class="btn restorant-card__btn" type="button"></button>
                     </div>
                  </a>
               </article>
            </li>

            <li class="restorants__wrapper swiper-slide">
               <article class="restorant-card">
                  <a href="#" class="restorant-card__link">
                     <img class="restorant-card__img" src="./images/restorants/star-burgers.jpg" alt="">
                     <h3 class="restorant-card__title">Star Burgers</h3>
                     <div class="restorant-card__footer">
                        <time class="restorant-card__time">
                           <span>09:00</span> - <span>21:00</span>
                        </time>
                        <button class="btn restorant-card__btn" type="button"></button>
                     </div>
                  </a>
               </article>
            </li>
         </ul>
      </div>
      <div class="restorants__dots"></div>
   </section>
</div>