<section class="tabs">
   <div class="tabs__inner">
      <ul class="tabs__list">
         <li class="tabs__tab">
            <a class="tabs__link link active" type="button" id="tab[1]">Описание</a>
         </li>
         <li class="tabs__tab">
            <a class="tabs__link link" type="button" id="tab[2]">Характеристики</a>
         </li>
         <li class="tabs__tab">
            <a class="tabs__link link" type="button" id="tab[3]">Отзывы(<span class="tabs__counter">2</span>)</a>
         </li>
      </ul>
      <div class="tabs__content">
         <!--=include _tab-one.html-->
         <!--=include _tab-two.html-->
         <!--=include _tab-three.html-->
      </div>
   </div>
</section>